{% extends 'myapp/base.html' %}

{% block body %}
    <div class="flex p-10">
        <div>
            <img src="https://cdn4.iconfinder.com/data/icons/basic-ui-set-2-1/64/Basic_ui_2-16-1024.png" alt="" width="400" height="500">
        </div>
        <div class="pl-10">
            <div class="text-4xl mb-4">{{ product.name }}</div>
            <div class="mb-4">{{ product.description }}</div>
            <div class="mb-4 text-green-700 font-bold">${{ product.price }}</div>
            <div>
                <button id="checkout-button" class="bg-green-500 text-white px-4 py-2 rounded-sm" onclick="window.location.href='{% url 'payment' product.id %}'">Buy</button>
            </div>

        </div>
    </div>

{% endblock %}