{% extends 'myapp/base.html' %}

{% block body %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column; text-align: center;">
    <h1>You have been successfully logged out</h1>
    <br>
    <h1>Click below to log in</h1>
    <div class="btn btn-success mb-3" onclick="window.location.href='{% url 'login' %}'" style="padding: 10px 20px; margin-top: 20px; background-color: #47995a; font-size: 1.2em; cursor: pointer;">
        LOGIN
        
    </div>
</div>
{% endblock %}
